# VSCode configurations
.vscode

# Python cache
**/__pycache__/

# Virtual environment
.venv

# Reading material
book
papers

# Output
results

# ONNX
onnx_models

# Model checkpoints
checkpoints

# Temporary dir
tmp

# Kitti helpers
kitti

# Redirected terminal output
a.txt

# logs
logs

# WandB
wandb


**/.gitkeep